name: Laravel

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  laravel-tests:
    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@v2
      with:
        php-version: '8.3'
        extensions: mbstring, xml, ctype, iconv, intl, pdo, sqlite, curl, tokenizer
    
    - uses: actions/checkout@v4
    
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    
    - name: Setup environment
      run: |
        cp .env.example .env
        php artisan key:generate --force
    
    - name: Fix permissions
      run: chmod -R 777 storage bootstrap/cache
    
    - name: Setup database
      run: |
        mkdir -p database
        touch database/database.sqlite
        php artisan migrate --force
    
    - name: Clear cache before tests
      run: php artisan config:clear
    
    - name: Execute tests
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
        APP_ENV: testing
      run: php artisan test